.header__container {
  position: relative;
  top: 1.5rem;
  width: 20rem;
  height: 3rem;
  margin: 1rem;
  margin-top: 0;
  @media(min-width: 768px) {
    width: 40rem;
  }
  @media(min-width: 1440px) {
    width: 60rem;
  }
}
.header__icon {
  margin: 0.3rem;
}
.divider {
  border-left: 0.08rem solid rgba(221, 221, 221, 0.904);
  height: 2.2rem;
  position: relative;
  bottom: 6rem;
  width: 0rem;
  left: 13.7rem;
  @media(min-width: 768px) {
    left: 34.7rem;
  }
  @media(min-width: 1440px) {
    left: 51.4rem;
  }
}
