@import "../dictionary-app/src/App.scss";

.fonts__container-light {
  position: absolute;
  background-color: $backgroundColorWhite;
  top: 2.4rem;
  right: 0.5rem;
  width: 7.4rem;
  border-radius: 0.5rem;
  animation: fadeInUp 0.3s ease both;
  z-index: 1;
  
}
.fonts__container-dark {
  position: absolute;
  background-color: $backgroundColorBlack;
  color: $TextColorDarkMode;
  top: 2.4rem;
  right: 0.5rem;
  width: 7.4rem;
  border-radius: 0.5rem;
  animation: fadeInUp 0.3s ease both;
  z-index: 1;
}
.font-list {
  padding-left: 1rem;
  text-align: start;
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.sans-serif {
  font-family: $sansSerif;
  font-weight: 600;
  transition: color 0.5s;
  &:hover {
    color: $purpleElements; 
  }
}
.serif {
  font-family: $serif;
  font-weight: 600;
  transition: color 0.5s;
  &:hover {
    color: $purpleElements; 
  }
}
.mono {
  font-family: $mono;
  font-weight: 600;
  transition: color 0.5s;
  &:hover {
    color: $purpleElements; 
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
    
  }
  to {
    box-shadow: 0 0 10px rgb(139, 139, 139);
    opacity: 1;
    transform: translateY(0);
  }
}
