.footer__container {
  
  width: 18rem;
  height: 8rem;
  margin: 1.5rem;
  .footer__source {
    position: relative;
    top: 1.5rem;
    color: #757575;
    text-decoration: underline;
  }
  .footer__divider {
    margin-top: 3.5rem;
    border-top: 1px solid #ccc;
    width: 18rem;
  }
  .footer__link-light {
    position: relative;
    top: 3rem;
    display: block;
    width: 15rem;
    height: 2rem;
    font-size: 14px;
    color: black;
  }
  .footer__link-dark {
    position: relative;
    top: 3rem;
    display: block;
    width: 15rem;
    height: 2rem;
    font-size: 14px;
    color: white;
  }
}

