.btn__container {
  left: 8rem;
  position: relative;
  bottom: 3.3rem;
  display: flex;
  gap: 0.5rem;
}
.btn_fontSwitcher {
  border: 0;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.font-name {
  width: 5rem;
  text-align: end;
  font-size: 16px;
  font-weight: 700;
}
