.search__container-light {
  background-color: #f4f4f4;
  width: 19rem;
  height: 3rem;
  margin: 1rem;
  top: 1rem;
  position: relative;
  border-radius: 1rem;
  
}
.search__container-dark {
  background-color: #1f1f1f;
  width: 19rem;
  height: 3rem;
  margin: 1rem;
  top: 1rem;
  position: relative;
  border-radius: 1rem;
}

.search__input {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: start;
  margin-top: 0.5rem;
  margin-left: 1rem;
  height: 2rem;
  width: 12rem;
  font-size: 1rem;
  font-weight: 700;
}

.search__button {
  background-color: transparent;
  outline: none;
  position: relative;
  left: 2.5rem;
  top: 0.15rem;
  border: none;
  cursor: pointer;
}
.noinput {
  width: 19rem;
  height: 3rem;
  position: absolute;
  bottom: 0;
  border-radius: 1rem;
  border: 1px solid #ff0000;
  background-color: transparent;
  pointer-events: none;
  .noinput_msg {
    position: absolute;
    left: 0.5rem;
    top: 2.5rem;
    font-size: 12px;
    color: #ff0000ed;
  }
}
