@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
$backgroundColorWhite: #ffffff;
$mainTextColor: #2d2d2d;
$input: #f4f4f4;
$purpleElements: #a445ed;
$validationText: #ff5252;

//Typography
$sansSerif: "Open Sans", sans-serif;
$serif: "PT Serif", serif;
$mono: "Space Mono", monospace;
:root {
  background-color: $backgroundColorWhite;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: $sansSerif;
}

body {
    margin: 0;
}
.container {
    width: 22rem;
    height: 66.5rem;
    background-color: rgb(199, 99, 99);
}