@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Space+Mono:wght@400;700&display=swap");
$backgroundColorWhite: #ffffff;
$backgroundColorBlack: #050505;
$mainTextColor: #2d2d2d;
$TextColorDarkMode: #ffffff;
$input: #f4f4f4;
$purpleElements: #a445ed;
$validationText: #ff5252;

//Typography
$sansSerif: "Open Sans", sans-serif;
$serif: "PT Serif", serif;
$mono: "Space Mono", monospace;
:root {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: $sansSerif;
}

body {
  margin: 0;
}
// * {
//   box-sizing: border-box;
//   outline: 1px solid limegreen !important;
// }
a:visited {
  text-decoration: none;
  color: #2d2d2d;
  background-color: transparent;
}
li::marker {
  color: $purpleElements;
}
.container-light {
  background-color: $backgroundColorWhite;
  color: $mainTextColor;
  @media(min-width: 768px) {
    width: 40rem;
  }
  @media(min-width: 1440px) {
    width: 60rem;
  }
}
.container-dark {
  background-color: $backgroundColorBlack;
  color: $TextColorDarkMode;
  @media(min-width: 768px) {
    width: 40rem;
  }
  @media(min-width: 1440px) {
    width: 60rem;
  }
}
.background-light {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  background-color: $backgroundColorWhite;
}
.background-dark {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  background-color: $backgroundColorBlack;
}
